@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* .primary-text {
    font-weight: 700;
    color:black;
} */

.secondary-text {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

.small {
    font-size: 0.5em;
    letter-spacing: 0.3em;
}

html {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

body {
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 52vw bottom -60vh, left 50vw top 50vh;
    background-color: hsl(185, 75%, 39%);
}

.card {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*width: 25%;
    height: 50%;*/
    /*width: 420px;
    height: 485px;*/
    /* width: 9.8cm;
    height: 10.5cm */;
    width: 350px;
    height: 374px;
    border-radius: 3%;
    box-shadow: 0 2.2em 5em rgba(8, 8, 8, 0.3);
    overflow: hidden;
    background-color: white;
}

.card-top {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    height: 37%;
    width: 100%;
    background-image: url(./images/bg-pattern-card.svg);
}

.card-img-holder {
    position: absolute;
    margin: auto;
    top: 23%;
    right: 0;
    left: 0;
    width: 100%;
    height: 28%;
}

/*#image*/
.card-img-holder img {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 5px solid white;
    border-radius: 50%;
}

.card-name-age {
    position: absolute;
    margin: auto;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1em;
    text-align: center;
}

.card-city {
    font-size: 0.7em;
    position: absolute;
    margin: auto;
    top: 36%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1em;
    text-align: center;
}

.card-info {
    position: absolute;
    margin: auto;
    top: 77%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid hsl(0, 0%, 90%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-info-item {
    text-align: center;
    padding-top: 20%;
}

#followers {
    grid-column: 1;
}

#likes {
    grid-column: 2;
}

#photos {
    grid-column: 3;
}

@media (max-width: 375px) {
    .card {
        width: 326px;
    }
}

/*--------------------------------*/

.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 2%;
    left:50%;
    transform: translateX(-50%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
